.infowindow__heading {
	background: $blue;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 10px;
}

.infowindow__content {
	background: $black;
	color: $white;
	padding: 20px 10px;

	a {
		color: $yellow;
		text-transform: uppercase;
		display: block;
		font-weight: bold;
	}

}

// Google maps infowindow inline styles bypass
// .gm-style-iw {
// 	position: relative !important;
// 	left: 0 !important;
// 	top: 0 !important;
// 	width: 300px !important;
// 	font-size: 16px !important;
// 	border-radius: 0.5em;
// 	font-family: $font-worksans !important;
// 	box-shadow: none !important;
// 	border: none !important;
// 	height: 155px !important;
// }

// .gm-style-iw + div {
// 	right: auto !important;
// 	left: 275px !important;
// }