.top-nav-outer {
	text-align: right;
	padding: 5px 0;
	margin-right: 15px;
	display: inline-block;

	@media #{$md} {
		position: relative;
		text-align: left;
		top: 0;
		padding: 0 2.625rem;
		float: none;
	}

	@media #{$sm} {
		padding: 0 2.625rem !important;
	}

}

.top-nav {
	font-size: $txt-smaller;

	@media #{$md} {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		padding-top: 2em;
	}

	span {

		@media #{$md} {
			display: none;
		}

	}

	a {
		color: $white;
		@media #{$md} {
			color: $white;
			order: 3;
			font-size: 1.2em;
			margin: 0;
			padding: 1em 0;

			&:hover {
				color: $yellow;
			}

		}

	}

}