//	Mixins
//		Colors
$white: #fff;
$white-fade: rgba(255, 255, 255, 0.75);
$black: #282828;
$black-fade-more: rgba(0, 0, 0, 0.15);
$grey-light: #77787b;
$grey-lighter: #E6E6E6;
$grey: #a9a9aa;
$grey-fade: rgba(169, 169, 170, 0.75);
$yellow: #F7EC59;
$blue: #054597;
$blue-light: #92DCE5;
$red: #ba131a;
$green: #81cd1e;