//	Mixins
//		Typography
$txt-smallest: 0.85em;
$txt-smaller: 0.95em; 	// 14px
$txt-medium: 1.14em; 	// 18px
$txt-larger: 1.579em; 	// 25px
$txt-largest: 2.54em; 	// 40px

// Fonts Family
$font-inter: 'Inter', sans-serif;
$font-noto: 'Noto Sans', sans-serif;