/*
	Layout
		Page
 */

 .page__wrapper {
	margin-top: 10em;

	@media #{$lg} {
		margin-top: 8.875em;
	}

	@media #{$md} {
		margin-top: 5em;
		min-height: calc(100vh - 221px);
	}

	@media #{$sm} {
		background-size: auto 135%;
		min-height: calc(100vh - 265px);
	}

	@media #{$xs} {
		min-height: calc(100vh - 289px);
	}

 }

.page__header {
	height: auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

	._container {
		background: rgba(0,0,0,0.5);
		height: 100%;
		height: 12.5em;
	}

}

.page__title {
	color: $white;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2.5em;
	font-family: $font-noto;
}

.page__content {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

	h1,
	.h1 {
		margin: 3.75rem 0;
	}

}

.page__row {
	margin-bottom: 3.75em;
	align-items: center;

	@media #{$sm} {
		flex-direction: column;
	}

	img {
		width: 100%;
		border-radius: 25px;
	}

	h2 {
		font-size: 1em;
		font-family: $font-inter;
		font-weight: bold;
	}

	&:nth-child(odd) {

		.page__row--txt {
			order: 1;
		}

		.page__row--img {
			order: 2;
		}

	}

	@media #{$sm} {

		.page__row--txt,
		.page__row--img {
			margin-bottom: 3.75em;
		}

		&:nth-child(even) {

			.page__row--txt {
				order: 1;
			}

			.page__row--img {
				order: 2;
			}

		}

	}

	p {

		&:last-child {
			margin-bottom: 0;
		}

	}

}